body {
  font-family: sans-serif;
  margin: 0px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;

  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 800px;

  padding: 10px;
  margin: auto;
}

.title-container {
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem;
}

.game-container {
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
  width: 100%;
}

.game-board {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: gray;
  height: 100%;
  width: 100%;

  margin-bottom: 5px;
}

.card-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;

  font-size: 1.5rem;

  background-color: white;
  height: 150px;
  width: 100px;

  border-radius: 0.5rem;

  margin: 5px;
  padding: 5%;
}

.controls-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;

  background-color: black;
  color: white;
  width: 100%;

  padding: 10px;
}

.credit-score {
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: darkgrey; */

  height: 100%;
  width: 150px;

  margin-right: 10px;
}

.bet-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 3;

  /* background-color: darkgrey; */

  margin-right: 10px;
}

.controls-container button {
  height: 30px;
  min-width: 30px;

  font-size: 18px;

  padding: 0px 10px;
}

.bet-display {
  width: 50px;
  text-align: center;
}

.winning-hands {
  background-color: gainsboro;
  height: 200px;
  width: 100%;
}

.selected {
  border: 2px solid greenyellow;
  box-shadow: 0 0 10px greenyellow;
}
